@font-face {
  font-family: 'Robotor';
  src: url('../fonts/Roboto');
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    #4d4773, black);
  background-attachment: fixed;
}

header {
  justify-content: center;
  display: flex;
  background-color: #958fb9;
}

h1 {
  color: Black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

footer {
  color: white;
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.store__form {
  display: flex;
  width: 650px;
  background-color: #958fb9;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 10px;
  }

.form__images {
  display: flex;
  flex-direction: column;
  width: 380px;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  background-color: white;
}

.main__image {
  width: 350px;
  height: fit-content;
}

.sub__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  box-sizing: border-box;
}

.sub__image {
  width: 100px;
  height: fit-content;
  margin-top: 25px;
  border-bottom: 4px solid #4d4773;
  padding: 10px 0;
}

.form__inputs {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 20px;
}

#quantity {
  width: 100%;
  border: 2px solid #4d4773;

}

.form__input__section {
  display: flex;
  flex-direction: column;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.form__input__section__small {
  display: flex;
  flex-direction: column;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  width: 100%;
  flex: 0.3;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 10px;
}

#quantity {
  background-color: #958fb9;
}

#submit {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .store__form {
    flex-direction: column;
    width: 100%;
  }

  .form__images {
    width: 100%;
    margin-bottom: 20px;
  }

  .sub__images {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .sub__image {
    width: 100px;
    height: fit-content;
    margin-top: 25px;
    border-bottom: 4px solid #4d4773;
    padding: 10px 0;
  }

  .form__inputs {
    width: 100%;
    height: 100%;
  }

  .form__input__section {
    width: 100%;
    flex: 1;
  }

  .form__input__section__small {
    width: 100%;
    flex: 0.3;
  }
}

@media screen and (max-width: 450px) {
  .store__form {
    width: 300px;
  }

  .form__images {
    width: 100%;
    margin-bottom: 20px;
  }

  .main__image {
    width: 250px;
    height: fit-content;
  }

  .sub__images {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .sub__image {
    width: 75px;
    height: fit-content;
    margin-top: 25px;
    border-bottom: 4px solid #4d4773;
    padding: 10px 0;
  }

  .form__inputs {
    width: 100%;
    height: 100%;
  }

  .form__input__section {
    width: 100%;
    flex: 1;
  }

  .form__input__section__small {
    width: 100%;
    flex: 0.3;
  }
}