@font-face {
  font-family: 'Robotor';
  src: url('../fonts/Roboto');
}

* {
  font-family: 'Roboto', sans-serif;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    #4d4773, black);
}

header {
  justify-content: center;
  display: flex;
  background-color: #958fb9;
}

h1 {
  color: Black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.store__form {
  display: flex;
  width: 650px;
  background-color: #958fb9;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 10px;
  }

.form__images {
  display: flex;
  flex-direction: column;
  width: 380px;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  background-color: white;
}

.main__image {
  width: 350px;
  height: fit-content;
}

.sub__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  box-sizing: border-box;
}

.sub__image {
  width: 100px;
  height: fit-content;
  margin-top: 25px;
}

.form__inputs {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 20px;
}

#quantity {
  width: 100%;
}

.form__input__section {
  display: flex;
  flex-direction: column;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

.form__input__section__small {
  display: flex;
  flex-direction: column;
  border: 3px solid #4d4773;
  box-sizing: border-box;
  width: 100%;
  flex: 0.3;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.form__input {
  display: flex;
  align-items: center;
  gap: 10px;
}

#quantity {
  background-color: #958fb9;
}

#submit {
  height: 100%;
  width: 100%;
}